<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>



    <body style="margin: 30px;">

        <h1>WSS GHG Inventory</h1>
            <br>


            {% comment %} The Scope Tab Selection   {% endcomment %}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " id="tab1"  href="{%url 'scope1'%}">Scope 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab2"  href="{%url 'scope2'%}">Scope 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="tab3" href="{%url 'scope3'%}">Scope 3</a>
                </li>
            </ul>

            <br>

            <div class="row">
                <div class="col-2">
                    <!-- Left div with 1/10 width -->

                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{ % url 'scope3/commute %}">Commute</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="{% url 'scope3/water' %}">Water Supply</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'scope3/wastewater' %}">Waste Water</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active"  href="{ % url 'scope3/material%}">Material Use</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active"  href="{ % url 'scope3/disposal %}">Waste Disposal</a>

                        </li>         
                        
                        <li class="nav-item">
                            <a class="nav-link active"  href="{ % url 'scope3/travel %}">Business Travel</a>

                        </li>   
           
                        <li class="nav-item">
                            <a class="nav-link active"  href="{ % url 'scope3/flight %}"> Flight </a>

                        </li>   
           
                        <li class="nav-item">
                            <a class="nav-link active"  href="{ % url 'scope3/accommodation %}">Accommodation</a>

                        </li>   

                        <li class="nav-item">
                            <a class="nav-link active"  href="{ % url 'scope3/freighting %}">Freighting</a>

                        </li>   
                         <li class="nav-item">
                            <a class="nav-link " href="{%url 'dashboard'%}">Dashboard</a>
                        </li>


                    </ul>

                </div>
                <div class="col">
                    <!-- Right div -->
                    <h4> Employee Commuting </h4> 
                    <p> This section is for the employee commuting data of total distance travel for a year in km unit </p>
                </div>
            </div>

            <br>






        


    </body>
</html>


    
    

    